extends layout/index

block content
    main.container.mt-5
        div.row
            div.col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            div.col-md-7
                h1=pagina
                
                p ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id quam rutrum, posuere purus non, imperdiet eros. Phasellus auctor metus id elit aliquam, non vestibulum mauris ornare. Pellentesque condimentum, nunc ac interdum facilisis, lectus neque consectetur massa, vitae accumsan metus lorem vel augue. Nunc ut commodo neque, sit amet pulvinar dolor. Duis eu elit odio. Vestibulum aliquam odio sem, sit amet ultricies tellus elementum euismod. Nunc odio dolor, euismod ut libero non, pellentesque maximus dolor. Curabitur non rhoncus velit. In hac habitasse platea dictumst.

                p ac lectus lacus. Morbi molestie diam urna, vel porta eros semper non. Aliquam sagittis congue maximus. Pellentesque volutpat faucibus consequat. Fusce a convallis felis, eu aliquet elit. Fusce id ante pulvinar sapien interdum mollis. Ut fermentum finibus consequat. Nunc in pretium velit. Proin purus tellus, ultrices nec dui non, hendrerit fringilla lectus. Aenean accumsan nisl et viverra porta. Sed quis massa eget nibh pellentesque luctus ut vel arcu. Nullam magna ligula, commodo vel dignissim id, lobortis dignissim urna. In fringilla velit nec felis ultricies lacinia. Suspendisse sagittis imperdiet urna. Fusce sapien sem, sagittis non pulvinar quis, tempus vitae lectus. Aliquam erat volutpat.

               
    div.listado-iconos 
        div.container.mt-5.py-5.text-center 
            div.row
                div.col-md-4
                    img(src="img/icono_seguridad.svg", alt="safeIcon", class="img-fluid")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nibh magna, aliquam eu nibh convallis, ultrices varius velit. Nullam placerat imperdiet lectus, ut euismod nisi vulputate sed. Donec nec laoreet nulla. Nam auctor libero quis quam lacinia
                
                div.col-md-4
                    img(src="img/icono_destinos.svg", alt="safeIcon", class="img-fluid")
                    h2.mb-4 Los Mejores Destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nibh magna, aliquam eu nibh convallis, ultrices varius velit. Nullam placerat imperdiet lectus, ut euismod nisi vulputate sed. Donec nec laoreet nulla. Nam auctor libero quis quam lacinia
                
                div.col-md-4
                    img(src="img/icono_precios.svg", alt="safeIcon", class="img-fluid")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nibh magna, aliquam eu nibh convallis, ultrices varius velit. Nullam placerat imperdiet lectus, ut euismod nisi vulputate sed. Donec nec laoreet nulla. Nam auctor libero quis quam lacinia
                